<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 안드로이드 11+ 에서 네이버 지도 앱으로 딥링크를 열기 위한 패키지 가시성 선언 -->
    <queries>
        <package android:name="com.nhn.android.nmap" />
    </queries>

    <application
        android:name=".ParkingToiletApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkingToiletFinder">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ParkingToiletFinder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
